.comments {
  display: flex;
}
.avatar {
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  overflow: hidden;
}
.likebutton {
  height: 60px;
  width: 50px;
  background: none;
  cursor: pointer;
}
.likebuttonliked {
  height: 60px;
  width: 50px;
  background: none;
  cursor: pointer;
}
.replies-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
