.main {
  display: flex;
  height: 100vh;
  background-color: rgb(43, 40, 40);
  color: white;
  font-family: Arial, sans-serif;
}
.left-sidebar {
  width: 15%;
}
.video-container {
  width: 85%;
  overflow-y: auto;
}
.video-container::-webkit-scrollbar {
  display: none;
}
.views-and-date {
  display: flex;
  gap: 50px;
}
